/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------HEADER-------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

html{
    font-size: 62.5%;    /* 1rem = 10px */
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    box-shadow: 0rem 0.02rem 0.3rem 0.03rem black;
    width: 120vw;
    height: 18.5rem;
    overflow-x: hidden;
}

.contact-info{
    /* flex item 1 */
    display: flex;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-right: 3vw;
    position: absolute;
    right: 0;
    top:0;
    color: #ffff;
    gap: 8rem;
}

.contact-info p{
    width: fit-content;
}

nav::before { 
    content: "";
    width:110vw;
    height: 4rem;
    background-color: #ff9101;
    position: absolute;
    top: 0%;
    left: 20vw;
    opacity: 0.7;
    z-index: -1;
    transform: skewX(50deg);
}

header .logo{
    /* flex item 2 */
    padding:2.5em 0 0 2.5vw;
    height: fit-content;
    display: flex;
    flex-direction: column;    
    width: fit-content;
    z-index: -1;
}

.h-before{
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 0;
    transition: .1s;
}

header .logo img{
    margin: auto;
    height: 11em;
    width: 11em;
    border-radius: 100%;
    object-fit: cover;
    border: 0.1rem solid;
}

header .logo-name{
    text-align: center;
    margin-top: 0.3em;
    width: 9em;
    line-height: 1em;
    color: #013c89;
    font-size: 1.5em;
}

header .moto{
    text-align: center;
    width: 13em;
    line-height: 1.3em;
    color: #c28f37;
    font-size: 1em;
}

header #main-nav {
    /* flex item 2 */
    width: fit-content;
}

header #main-nav ul{
    width: fit-content;
    list-style: none;
    position: absolute;
    top:0;
    left: 0;

    margin-top: 15rem;
    padding-left: 38vw;

    display: flex;
    gap: 3em;
}

header #main-nav ul li {
    width: fit-content;
}

header #main-nav ul li a{
    text-decoration: none;
    color: rgb(122 87 22);
    line-height: 2.5em;
    font-size: 1.7em;
    width: fit-content;
}

header #main-nav ul li a:hover{
    text-decoration: none;
    color: rgb(120 95 4);
    border-bottom: 2px solid;
}

/* --------------------------------------------------------------------------------------------------------
-----------------------------for phone------------------------------------------------------------- */

header .nav-btn {
    display: none;
    color: #c28f37;
    background-color: transparent;
    position: absolute;
    top: 10em;
    right: 12vw;
}

/* --------------------------------------------------------------------------------------------------------
----------------------------responsivness----------------------------------------------------------- */


@media screen and (max-width: 1200px) and (min-width: 1100px) {
    html{
        font-size: 61%;
    }
}
@media screen and (max-width: 1100px) and (min-width: 1000px) {
    html{
        font-size: 60%;
    }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
    html{
        font-size: 59%;
    }
}
@media screen and (max-width: 900px) and (min-width: 800px) {
    html{
        font-size: 58%;
    }
}
@media screen and (max-width: 800px) and (min-width: 750px) {
    html{
        font-size: 57.5%;
    }
}

@media screen and (max-width: 750px) and (min-width: 700px) {
    html{
        font-size: 57%;
    }
    .logo img{
        height: 10.5em !important;
        width: 10.5em !important;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    html{
        font-size: 56.5%;
    }
    .logo img{
        height: 9.5em !important;
        width: 9.5em !important;
    }
    .logo img{
        height: 10em !important;
        width: 10em !important;
    }
}

@media screen and (max-width: 600px) and (min-width: 550px) {
    html{
        font-size: 54.5%;
    }  
    header #main-nav ul{
        margin-top: 15rem;
        padding-left: 35vw;
        gap: 2.5rem;
    }
    .logo img{
        height: 9em !important;
        width: 9em !important;
    }
}

@media screen and (max-width: 550px) and (min-width: 490px) {
    html{
        font-size: 53.5%;
    }
    header  .nav-btn{
        display: block;
    }
    
    header #main-nav ul.active{
        display: flex;    
        flex-direction: column;
        justify-content: flex-start;
        place-items: center;
        background-color: white;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding-top: 11rem;
        opacity: 0.8;
        transition: 0.4s;
    }
    .logo img{
        height: 8em !important;
        width: 8em !important;
    }
    nav::before {
        content: "";
        width: 90vw;
        position: absolute;
        left: 18vw !important;
        height: 4em !important;
    }
    header .logo {
        padding: 4em 0 0 2.5vw;
    }
    .contact-info {
        margin-right: 4vw;
        font-size: 1.5em;
        gap:6rem !important;
    }
}

@media screen and (max-width: 490px) and (min-width:400px) {
    html{
        font-size: 52%;
    }
    
    header #main-nav ul.active{
        display: flex;    
        flex-direction: column;
        justify-content: flex-start;
        place-items: center;
        background-color: white;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding-top: 11rem;
        opacity: 0.8;
        transition: 0.4s;
    }
    header .nav-btn{
        display: block;
    }
    
    .logo img{
        height: 7em !important;
        width: 7em !important;
    }
    nav::before {
        content: "";
        width: 85vw;
        position: absolute;
        left: 18vw !important;
    }
    .contact-info{
        margin-right: 4vw;
        font-size: 1.5em;
        gap: 7vw;
    }
    header .logo {
        padding: 5em 0 0 0.5vw;
    }
}
@media screen and (max-width:400px) and (min-width:320px){
    html{
        font-size: 51%;
    } 
    
    header #main-nav ul.active{
        display: flex;    
        flex-direction: column;
        justify-content: flex-start;
        place-items: center;
        background-color: white;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding-top: 11rem;
        opacity: 0.8;
        transition: 0.4s;
    }
    header .nav-btn{
        display: block;
    }
    
    .logo img{
        height: 7em !important;
        width: 7em !important;
    }
    nav::before{
        content: "";
        width: 100vw;
        height: 3.5em;
        position: absolute;
        left: 6vw !important;
    }
    .contact-info{
        margin-right: 5vw;
        font-size: 1.4em;
        gap: 7vw;
    }
    header .logo {
        padding-top: 5.5em;
    }
}

@media screen and (max-width:320px) and (min-width:190px) {
    
    header #main-nav ul.active{
        display: flex;    
        flex-direction: column;
        justify-content: flex-start;
        place-items: center;
        background-color: white;
        height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        padding-top: 11rem;
        opacity: 0.8;
        transition: 0.4s;
    }
    html{
        font-size: 50%;
    }
    header{
        height: 20em;
    }
    header .nav-btn{
        display: block;
        position: absolute;
        top: 14em;
        left: 115vw !important;
    }
    .logo img{
        height: 9em !important;
        width: 9em !important;
    }
    nav::before {
        content: "";
        width: 126vw;
        height: 5.5em;
        position: absolute;
        top: 0em;
        left: 35vw !important;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100vw;
        position: absolute;
        top: 0em;
        left: 50vw;
        gap: 0;
        font-size: 1.5em;
        right: 2vw !important;
        padding-right: 0.1em;
    }
    header{
        width: 150vw;
    }
    header .logo{
        padding: 5rem 2vw;
        width: fit-content !important;
    }

}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------HEADER ENDS-------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */