/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------HEADER-------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=League+Spartan:wght@300;400&family=Mukta:wght@300;400&family=PT+Sans&family=Poppins:wght@300;400&family=Roboto+Slab:wght@300&family=Roboto:wght@300;400&family=Ubuntu&display=swap');

/* Every element of html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* html element itself */

html {
    font-size: 59%;
}


/* header inside the body of the html element */

header {
    box-shadow: 0rem 0.02rem 0.3rem 0.03rem black;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}


/* container of details of contact and "contact" area of header's grid  */

header .contact-info {
    position: relative;
    float: right;
    top: 0;
    display: flex;
    justify-content: flex-end;
    gap: 6em;
    width: 75%;
    height: fit-content;
    padding: 1rem;
    font-size: 1.5em;
    color: #ffff;
    background-color: #ff9101;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 6% 100%);
}


/* logo container and "logo" area of header grid*/

header .logo {
    padding-top: 2.5rem;
    float: left;
    height: 19.3em;
    width: 20em;
    float: left;
    /* display: inline-block; */
}


/* image container as logo container of class "logo" */

header .logo .img-container {
    margin: auto;
    height: 11em;
    width: 11em;
    border-radius: 100%;
    border: 0.1rem solid;
}


/* image inside image container of class "img-container" */

header .logo .img-container img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    border: 0.1rem solid;
}


/* name of organization */

header .logo-name {
    text-align: center;
    margin-top: 0.3em;
    line-height: 1em;
    color: #013c89;
    font-size: 1.5em;
}


/* moto of the organization */

header .moto {
    text-align: center;
    line-height: 1.3em;
    color: #c28f37;
    font-size: 1em;
}

header .nav {
    padding: 16em 0% 0 37%;
}


/* navigation menu of id 'main-nav' at header under 'nav' class */

header #main-nav {
    width: 100%;
    display: flex;
    gap: 2.9rem;
}


/* Anchor or links of div elements of class "nav-item" navigation menu of id 'main-nav'*/

header #main-nav .nav-item a {
    padding-bottom: 1rem;
    text-decoration: none;
    color: rgb(122 87 22);
    font-size: 17px;
    font-weight: bold;
}


/* when hovered over div elements of class "nav-item" */

header #main-nav .nav-item:hover {
    text-decoration: none;
    color: rgb(120 95 4);
    border-bottom: 2px solid;
}

.h-before {
    display: none;
}


/* --------------------------------------------------------------------------------------------------------
-----------------------------for phone------------------------------------------------------------- */

@media screen and (max-width: 600px) {
    html {
        font-size: 53.8%;
    }
    header #main-nav {
        display: flex;
        flex-direction: column;
        place-items: center;
        background-color: white;
        height: 100%;
        position: fixed;
        padding-top: 9em !important;
        gap: 2em !important;
        top: 0;
        left: 0;
        overflow-x: hidden;
        z-index: 1;
        opacity: 0.8;
        transition: 0.4s;
        margin: 0 !important;
    }
    .logo {
        padding-top: 4em !important;
        width: 17em !important;
    }
    .logo .img-container {
        height: 8em !important;
        width: 8em !important;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        font-size: 1.4em !important;
        gap: 0.5rem !important;
        width: 64% !important;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%) !important;
    }
    .contact-info pre {
        text-align: right;
    }
    /* background of navbar for screens max-width 600px */
    .h-before {
        height: 100%;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.5;
        z-index: 0;
        transition: .01s;
    }
    /* div of class "nav-btn" for screens max-width 600px */
    header .nav-btn {
        display: block !important;
        color: #c28f37;
        background-color: transparent;
        position: absolute;
        top: 10em;
        right: 12vw;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------HEADER ENDS-------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */