* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#lander {
    /* background-image: url('../img/land.jpg'); */
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
}

#lander #principal {
    width: 45vw;
    height: fit-content;
    margin: 2.5vw;
    background: rgba(255, 255, 255, 0.2);
}

#lander #principal h1 {
    font-size: 40px;
    color: dodgerblue;
    margin: auto;
}

#lander #principal img {
    width: 200px;
    height: 200px;
}

#lander #principal p {
    width: 100%;
    font-size: 17px;
    margin: 10px 10px 10px 0;
}


/* notice start */

.notice-container {
    border:2px solid black;
    height: 535px;
    width: 560px;
    margin: 2.5vw;
    overflow: hidden;
    border-top: none;
}

.notice-container h2 {
    background-color: #000000;
    line-height: 3.5rem;
    text-align: center;
    color: white;
    width: 100%;
}

.notice-container .notice-content {
    padding: top 30rem;
    height: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.notice-container .notice-content:hover {
    overflow-y: scroll;
}

.notice-container .notice-content .notice {
    grid-column-gap: 1rem;
    padding: 2rem;
    height: fit-content;
    width: 550px;
    border-bottom: 0.1rem solid #01141047;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 15px;
}

.notice .headline {
    font-size: 17px;
    font-weight: bolder;
    padding-bottom: 1rem;
    color: darkcyan;
}

.notice .docs img {
    width: 25px;
    height: 25px;
    display: inline;
    margin: 5px 0px 0 0;
}

.notice .date {
    display: inline;
    float: right;
    margin-top: 10px;
}

.notice-container .notice-content .notice-item:nth-child(1) {
    color: #d51a1a;
    font-size: 1.4rem;
}

.notice-container .notice-content .notice-item:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.notice-container .notice-content .notice .upload-date {
    height: 1.5rem;
    width: fit-content;
    border: 0.1rem solid;
    vertical-align: top;
    margin: 1.4rem 1.4rem 0 0;
}

.notice-container .notice-content .notice .img {
    margin: 1.4rem 0 0 0;
    height: 1.5em;
    width: 1.5em;
    border: 0.1rem solid;
    vertical-align: top;
}


/* width */

 ::-webkit-scrollbar {
    width: 0.68rem;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #01141040;
    border-radius: 2rem;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #01141025;
}


/* about start */

#about {
    width: 100vw;
    background-color: rgb(241, 225, 128);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

#about #checklist {
    margin: 2.5vw 0 2.5vw 2.5vw;
    width: fit-content;
    height: fit-content;
}

#about #checklist h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

#about #checklist p {
    font-size: 17px;
    margin: 5px 0 5px 0;
}

#about #pic {
    width: 400px;
    margin: 2.5vw 2.5vw 2.5vw 0;
}


/* achieve start */

#achieve {
    text-align: center;
}

#achieve h1 {
    color: black;
    margin: 40px;
}

.list-container {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 130%;
}

#achieve #left-arrow {
    font-size: 50px;
    transform: scaleX(0.5);
}

#achieve #autoWidth {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 95%;
    list-style-type: none;
}

#achieve #autoWidth::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#achieve .box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
    margin-top: 30px;
}

#achieve .slide-img {
    height: 350px;
    position: relative;
}

#achieve .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

#achieve .detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

#achieve .name {
    display: flex;
    flex-direction: column;
}

#achieve .name h4 {
    margin: 5px 0px;
    padding-left: 13px;
}

#achieve span {
    color: red;
}

#achieve .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 235, 0.6);
    justify-content: center;
    align-items: center;
}

#achieve .overlay h5 {
    padding: 80px 20px;
    font-size: 1.4rem;
    color: aqua;
    transition: transform 1s;
}

#achieve .overlay {
    visibility: hidden;
}

#achieve .slide-img:hover .overlay {
    visibility: visible;
    animation: fade 1s;
}

#achieve .slide-img:hover .overlay h5 {
    transition-delay: .4s;
    transform: scale(1.1);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#achieve #right-arrow {
    font-size: 50px;
    transform: scaleX(0.5);
}

/* vision */


#vision {
    text-align: center;
}

#vision h1 {
    color: black;
    margin: 40px;
}

#vision #autoWidth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 100%;
}

#vision #autoWidth::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#vision .box {
    height: 400px;
    width: 250px;
    overflow: hidden;
    margin: 30px;
}

#vision .slide-img {
    height: 250px;
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vision .slide-img img {
    width: 230px;
    height:230px;
    transition: 0.5s;
}

#vision .slide-img img:hover{
    width: 250px;
    height: 250px;
}

#vision .detail-head {
    line-height: 3em;
}

#vision .detail {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    font-size: 1ko5px;
}


#vision #detail p{
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 53%;
    color: #07314f;
}

/* contact us */
#contact{
    text-align: center;
}

#contact h1{
    margin: 2.5vw;
}

#contact #container{
    width: 95vw;
    margin: 2.5vw;
    display: flex;
    justify-content: space-between;
} 

#contact #container #googlemap{
    width: 50%;
    height: 350px;
    background-color: #002349;
}

#contact #container #googlemap iframe{
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

#contact #container form{
    width: 45%;
    height: 350px;
   padding: 0 2.5% 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

#contact #container form .form-group{
    text-align: left;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#contact #container form .form-group label{
    font-size: 15px;
}

#contact #container form .form-group textarea{
    height: 150px;
}

#contact #container form button{
    color: white;
    cursor: pointer;
    width: 100px;
    margin: 0 auto 0 auto;
    background-color: rgb(231, 107, 69);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#contact #container form button:hover{
    color: rgb(231, 107, 69);
    background-color: #fff;
    border: 1px solid rgb(231, 107, 69);
}

/* footer start */

footer {
    background-color: #002349;
    position: absolute;
    width: 100vw;
    height: fit-content;
    min-height: 350px;
    color: #fff;
    margin-top: 0px;
    overflow: hidden;
}

footer .icon {
    display: flex;
    justify-content: center;
    margin: 0px;
}

footer .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    margin: 10px;
    margin-top: 12px;
    margin-right: 15px;
    color: white;
}

footer .item p,
pre {
    line-height: 10px;
    margin-top: 10px;
    font-size: 15px;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
    height: 220px;
    margin-left: 2.5vw;
    border-top: 2px solid white;
}

footer .container .row {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

footer .container .row h3 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 25px;
}

footer .social {
    display: flex;
    gap: 7px;
    margin: 20px 0 0 0;
    font-size: 20px;
}

footer h5 {
    position: relative;
    top: 40px;
    width: 100%;
}

footer h5 p {
    width: fit-content;
    margin: auto;
}

@media (max-width:1250px) {
    #lander {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    #lander #principal {
        width: 100vw;
    }
    #lander .notice-container {
        width: 95vw;
        margin: 30px 2.5vw 30px 2.5vw;
    }
    .notice-container .notice-content .notice {
        width: 95vw;
    }
    #lander #principal p {
        width: 95vw;
        font-size: 17px;
        margin: 2.5vw 0 0 0;
    }
}

@media screen and (max-width:700px) {
    body {
        overflow-x: hidden;
    }
    #lander {
        background-position: 25% 75%;
    }
    #about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about #img {
        width: 320px;
        margin: 2.5vw 0 2.5vw 0;
    }
    footer {
        height: 510px;
    }
    footer .container {
        height: 360px;
    }
    footer .container .row {
        flex-wrap: wrap;
    }
    footer .container .row h3 {
        margin-bottom: 25px;
    }
    footer h5 {
        position: relative;
        width: 100%;
        margin-top: 0;
        font-size: 14px;
    }
}